@model AkademiPlus_Transportation.Models.TblTransportation

@{
    ViewBag.Title = "UpdateTransportation";
    Layout = "~/Views/Shared/_Panel.cshtml";
}

<h2>Taşıma Güncelleme Ekranı</h2>

<form method="post">
    @Html.HiddenFor(x => x.TransportationID)

    <label>Müşteri</label>
    @Html.DropDownListFor(x => x.Customer, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x => x.Category, (List<SelectListItem>)ViewBag.v2, new { @class = "form-control" })
    <br />
    <label>Ürün</label>
    @Html.DropDownListFor(x => x.Product, (List<SelectListItem>)ViewBag.v3, new { @class = "form-control" })
    <br />
    <label>Personel</label>
    @Html.DropDownListFor(x => x.Employee, (List<SelectListItem>)ViewBag.v4, new { @class = "form-control" })
    <br />
    <label>Durum</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <label>Kalkış</label>
    @Html.TextBoxFor(x => x.Departure, new { @class = "form-control" })
    <br />
    <label>Varış</label>
    @Html.TextBoxFor(x => x.Arrival, new { @class = "form-control" })
    <br />
    <label>Durum</label>
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Taşımayı Güncelle</button>
</form>